ul {
    list-style-type: none; 
}

.nav-link {
    padding: 0rem 1rem;
}

.row, .rowrecette {
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

#carousel-header {
    height: 65%;
}

#imgrecette {
    height: 15%;
}

a {
    color: #00A388;
    text-decoration: none;
}

h6, h2, h1, h3, ul {
    color: #00A388;
}

p, li {
    margin : 0.5em 1em 1em 1em;
    text-decoration: none;
    color: #046380;
}

#login-submit, #contactbtn, #register-submit {
    background-color: #046380;
    color: white;
}